.Conditions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-left: 10vw;
}

.condition {
    border: 1px solid #FFFFFF;
    font-size: 2rem;
    color: #FFFFFF
}