.Current {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background: url('../assets/images/large-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 28vh;
    width: 25vh;
    padding: 4rem 5rem 12rem 5rem;
}

.Current h1 {
    font-size: 2rem;
}

.Current i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
    font-size: 8rem;
    color: #FFFFFF;
}

.Current span {
    text-transform: capitalize;
}