.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.Nav input {
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid transparent;
    width: 100%;
}

.Nav input:focus {
    border-bottom: 1px solid #000000;
}

.Nav span {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.Nav .sub {
    font-size: 1rem;
    color: #aeaeae;
}

.Nav .col {
    width: 33%;
}