.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0;
    background-color: #FFFFFF;
}

.Nav input {
    outline: none;
    font-size: 1.5rem;
    border: 0;
    padding: 0.5rem 0;
    text-align: center;
    border-left: 1px solid #eaeaea;
}

.Nav button {
    margin: 0;
    padding: 0 1rem;
}

.Nav span {
    font-size: 1.5rem;
}

.Nav .sub {
    font-size: 1rem;
    color: #aeaeae;
}

.Nav img {
    height: 1.75rem;
}

.title {
    display: flex;
    align-items: center;
}

.options {
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.options span {
    padding: 0.5rem 2rem;
    border-left: 1px solid #eaeaea;

}