.Temp {
    display: flex;
    font-size: 5rem;
    color: #FFFFFF;
    align-items: center;
    padding: 1.5rem 0;
    width: 60vw;
    margin-bottom: 2rem;
}

.Temp i {
    margin: 0 1rem;
}

.range {
    font-size: 3rem;
}

@media only screen and (max-width: 1000px) {
    .Temp {
        width: 100vw;
    }

    .range {
        font-size: 2rem;
    }
}